<!-- Template for modal -->
<script type="text/ng-template" id="myModalContent.html">
  <div class="modal-header">
    <h3 class="modal-title" id="modal-title">Submit JDF</h3>
  </div>
  <div class="modal-body" id="modal-body">
    <input onchange="angular.element(this).scope().fileChanged(this)" type="file" accept="*" />
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="submitJDF()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="closeModal()">Cancel</button>
  </div>
</script>
<!-- Page body -->
<div class="row">
  <div class="col-sm-8">
    <div>
      <button ng-click="openSubmissionModal()">Submit new JDF</button>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="form-group has-feedback">
      <input type="text" class="form-control" id="inputSuccess2" aria-describedby="inputPesquisarStatus" placeholder="Pesquisar..."
        ng-model="search">
      <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
      <span id="inputPesquisarStatus" class="sr-only">Termo da pesquisa</span>
    </div>
  </div>
</div>
<div class="tasks">
  <div class="task job" id="container-{{job.id}}" ng-repeat="job in jobs | filter:search">
      <!-- /#!/tasks/{{job.id}} -->
    <a href="/#!/tasks/{{job.id}}" class="task-link"> 
      <div class="task-status task-status-default">{{getStatusString(job)}}</div>
      {{(job.name) ? job.name : job.id}}
    </a>
    <div class="task-actions"><button class="btn btn-sm" ng-click="stopJob(job);">Stop</button></div>
  </div>
</div>