
<div class="row">
  <div class="col-sm-4 col-sm-offset-8">

    <div class="form-group has-feedback">
      <input type="text" class="form-control" id="inputSuccess2" aria-describedby="inputPesquisarStatus" placeholder="Pesquisar..." ng-model="Jobs.search">
      <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
      <span id="inputPesquisarStatus" class="sr-only">Termo da pesquisa</span>
    </div>

  </div>
</div>
<div class="tasks">

  <a href="#/tasks/{{job.id}}" class="task-link" ng-repeat="job in Jobs.jobs | filter:Jobs.search">
    <div class="task job">
      <div class="task-status task-status-default">{{job.readytasks}} tarefas prontas</div>
      {{job.name}}
    </div>
  </a>

</div>
