
<div class="row">
  <div class="col-sm-4 col-sm-offset-8">

    <div class="form-group has-feedback">
      <input type="text" class="form-control" id="inputSuccess2" aria-describedby="inputPesquisarStatus" placeholder="Pesquisar..." ng-model="Jobs.search">
      <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
      <span id="inputPesquisarStatus" class="sr-only">Termo da pesquisa</span>
    </div>

  </div>
</div>
<div class="tasks">

  <div class="task job" id="container-{{job.id}}" ng-repeat="job in Jobs.jobs | filter:Jobs.search">
    <a href="#/tasks/{{job.id}}" class="task-link">
      <div class="task-status task-status-default">{{job.readytasks}} ready tasks</div>
      {{(job.name) ? job.name : job.id}}
    </a>
    <div class="task-actions"><button class="btn btn-sm" ng-click="Jobs.stopJob(job.id);">Stop</button></div>
  </div>
</div>